@import "tailwindcss";
@import "tw-animate-css";



/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */



:root {

  --radius: 0.625rem;

  --background: oklch(1 0 0);

  --foreground: oklch(0.145 0 0);

  --card: oklch(1 0 0);

  --card-foreground: oklch(0.145 0 0);

  --popover: oklch(1 0 0);

  --popover-foreground: oklch(0.145 0 0);

  --primary: oklch(0.205 0 0);

  --primary-foreground: oklch(0.985 0 0);

  --secondary: oklch(0.97 0 0);

  --secondary-foreground: oklch(0.205 0 0);

  --muted: oklch(0.97 0 0);

  --muted-foreground: oklch(0.556 0 0);

  --accent: oklch(0.97 0 0);

  --accent-foreground: oklch(0.205 0 0);

  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.922 0 0);

  --input: oklch(0.922 0 0);

  --ring: oklch(0.708 0 0);

  --chart-1: oklch(0.646 0.222 41.116);

  --chart-2: oklch(0.6 0.118 184.704);

  --chart-3: oklch(0.398 0.07 227.392);

  --chart-4: oklch(0.828 0.189 84.429);

  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: oklch(0.985 0 0);

  --sidebar-foreground: oklch(0.145 0 0);

  --sidebar-primary: oklch(0.205 0 0);

  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: oklch(0.97 0 0);

  --sidebar-accent-foreground: oklch(0.205 0 0);

  --sidebar-border: oklch(0.922 0 0);

  --sidebar-ring: oklch(0.708 0 0);
}

.dark {

  --background: oklch(0.145 0 0);

  --foreground: oklch(0.985 0 0);

  --card: oklch(0.205 0 0);

  --card-foreground: oklch(0.985 0 0);

  --popover: oklch(0.205 0 0);

  --popover-foreground: oklch(0.985 0 0);

  --primary: oklch(0.922 0 0);

  --primary-foreground: oklch(0.205 0 0);

  --secondary: oklch(0.269 0 0);

  --secondary-foreground: oklch(0.985 0 0);

  --muted: oklch(0.269 0 0);

  --muted-foreground: oklch(0.708 0 0);

  --accent: oklch(0.269 0 0);

  --accent-foreground: oklch(0.985 0 0);

  --destructive: oklch(0.704 0.191 22.216);

  --border: oklch(1 0 0 / 10%);

  --input: oklch(1 0 0 / 15%);

  --ring: oklch(0.556 0 0);

  --chart-1: oklch(0.488 0.243 264.376);

  --chart-2: oklch(0.696 0.17 162.48);

  --chart-3: oklch(0.769 0.188 70.08);

  --chart-4: oklch(0.627 0.265 303.9);

  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: oklch(0.205 0 0);

  --sidebar-foreground: oklch(0.985 0 0);

  --sidebar-primary: oklch(0.488 0.243 264.376);

  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: oklch(0.269 0 0);

  --sidebar-accent-foreground: oklch(0.985 0 0);

  --sidebar-border: oklch(1 0 0 / 10%);

  --sidebar-ring: oklch(0.556 0 0);
}



@import "tailwindcss";





/* Your custom palette */
@theme {
--color-deep_lilac-100: #170f27;
--color-deep_lilac-200: #2e1f4d;
--color-deep_lilac-300: #442e74;
--color-deep_lilac-400: #5b3e9b;
--color-deep_lilac-500: #7353ba;
--color-deep_lilac-600: #9076c8;
--color-deep_lilac-700: #ac98d6;
--color-deep_lilac-800: #c8bae4;
--color-deep_lilac-900: #e3ddf1;

--color-dark_amethyst-100: #0a0513;
--color-dark_amethyst-200: #130a27;
--color-dark_amethyst-300: #1d0f3a;
--color-dark_amethyst-400: #27154d;
--color-dark_amethyst-500: #2f195f;
--color-dark_amethyst-600: #4f2a9e;
--color-dark_amethyst-700: #7247ce;
--color-dark_amethyst-800: #a185de;
--color-dark_amethyst-900: #d0c2ef;

--color-ink_black-100: #030306;
--color-ink_black-200: #06060c;
--color-ink_black-300: #090913;
--color-ink_black-400: #0c0d19;
--color-ink_black-500: #0f1020;
--color-ink_black-600: #2c305e;
--color-ink_black-700: #4a509d;
--color-ink_black-800: #8185c4;
--color-ink_black-900: #c0c2e1;

--color-periwinkle-100: #1e005a;
--color-periwinkle-200: #3c00b4;
--color-periwinkle-300: #5f0eff;
--color-periwinkle-400: #9a68ff;
--color-periwinkle-500: #d8c4ff;
--color-periwinkle-600: #deceff;
--color-periwinkle-700: #e7daff;
--color-periwinkle-800: #efe7ff;
--color-periwinkle-900: #f7f3ff;

--color-grey_olive-100: #1d1b19;
--color-grey_olive-200: #3a3632;
--color-grey_olive-300: #57514b;
--color-grey_olive-400: #746b65;
--color-grey_olive-500: #8f857d;
--color-grey_olive-600: #a69e98;
--color-grey_olive-700: #bcb7b2;
--color-grey_olive-800: #d2cfcc;
--color-grey_olive-900: #e9e7e5;
}
